# Fuse NTFS
**/.fuse_hidden*
# Custom blocks file
blocks.h

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.orig

# DWM executable
**/dwm/dwm*
!**/dwm/dwm.1
!**/dwm/dwm.o

# DWMBLOCKS executable
**/dwmblocks/dwmblocks

# Bash usage
.bash_history
.bash_logout

# Neovim packer
nvim/.local/share/nvim/*
nvim/.config/nvim/plugin/*

# Vim Vundle
vim/.config/vim/bundle/*
!vim/.config/vim/bundle/Vundle.vim



